// COLORS
$Red: crimson;

// primary button background color
$PrmColor: #fff;

// secondary button color
$ScndColor: #1d39eb;

// tertiary button color
$TrtColor: #455efd;

$PrmFontColor: #000;
$ScndFontColor: #595959;

// FONTS
$MainFont: 'cambo';
$SecondaryFont: 'Open Sans';