.registration {
  display: flex;
  justify-content: space-evenly;
  padding-top: 20vh;
  background-color: $BackgroundColor;
  
  .left-side-register {
    // background-color: white;
    color: black;

    h1{
      font-weight: lighter;
      font-size: 65pt;
    }

    .left-side-blurb {
      font-size: 20pt;
      font-family: $SecondaryFont;
      color: gray;
    }
  }

  h2 {
    // color: blue;
    // font-size:2rem;
    // text-align: center;
    font-family: $SecondaryFont;
  }

  p {
    text-align: center;

    a {
      text-decoration: none;
    }
  }

  img {
    height: 500px;
  }

  form {
    background: white;
    display: flex;
    flex-direction: column;
    padding: 50px;
    margin-bottom: 100px;
    width: 500px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.15);

    input {
      font-size: 1.3rem;
      height: 40px;
      margin-bottom: 10px;
      padding: 0 .5rem;
      width: 100%;
    }

    .image-upload {
      height: 100px;
      width: 100px;
    }

    select {
      font-size: 1.3rem;
      height: 40px;
      width: 100px;
    }

    textarea {
      font-size: 1.3rem;
      height: 100px;
      resize: none;
      width: 100%;
    }

    button {
      background: #0000ff;
      border: 4px solid #0000ff;
      color: #fff;
      // font-size: 1.5rem;
      height: 77px;
      margin-top: 10px;
      text-transform: uppercase;
      width: 332px;
    }

    button:hover {
      background: #fff;
      color: #0000ff;
      cursor: pointer;
      transition: 400ms;
    }
  }
}